<%- include('../partials/header', { pageTitle: event.name, currentPage: 'details' }) %>

<article class="event-details">
    <%- include('../partials/_eventSubnav', { event: event}) %>

    <section class="event-description">
        <h2>About the Event</h2>
        <% if (event.description) { %>
            <div class="description-content"><%- event.description %></div>
        <% } else { %>
            <p>More details coming soon!</p>
        <% } %>
    </section>

    <% if (mapData) { %>
    <section class="event-map">
        <h2>Registrace: <%= mapData.locationName %></h2>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <script>
            // Make map data available to map.js
            const eventLocation = {
                lat: <%= mapData.lat %>,
                lng: <%= mapData.lng %>,
                popupText: "<%= mapData.locationName %> - <%= event.name %>"
            };
        </script>
    </section>
    <% } else { %>
        <p>Map location will be available soon.</p>
    <% } %>
</article>

<%- include('../partials/footer', { mapData: mapData }) %>
