<nav class="event-subnav">
    <ul>
        <li><a href="/events/<%= event.slug %>" class="<%= currentPage === 'details' ? 'active' : '' %>">Informace</a></li>
        <li><a href="/events/<%= event.slug %>/register" class="<%= currentPage === 'register' ? 'active' : '' %>">Registrace</a></li>
        <li><a href="/events/<%= event.slug %>/track" class="<%= currentPage === 'track' ? 'active' : '' %>">Trať</a></li>
        <li><a href="/events/<%= event.slug %>/photo" class="<%= currentPage === 'photo' ? 'active' : '' %>">Fotogalerie</a></li>
        <!--<li><a href="/events/<%= event.slug %>/participants" class="<%= currentPage === 'participants' ? 'active' : '' %>">Participants</a></li> -->
    </ul>
</nav>
