<%- include('partials/header', { pageTitle: pageTitle, events: events }) %>

<section class="headline">
    <h2>Vítejte na stránkách</h2>
    <p>
        Spolek Dřevěného muže z Luk nad Jihlavou pro vás pravidelně připravuje sportovní a společenské akce v přátelské atmosféře a krásné přírodě Vysočiny.
        Sledujte naše stránky a přijďte si zasportovat, pobavit se a potkat skvělé lidi!
    </p>
    <p>
        Tento projekt vznikl s podporou městyse Luka nad Jihlavou. Děkujeme za finanční a institucionální podporu, která umožnila realizaci této aktivity a přispěla k rozvoji sportovního života v našem regionu.
    </p>
</section>
<section class="event-links">
    <% if (events.length > 0) { %>
        <div class="event-grid">
            <% events.forEach(event => { %>
                <div class="event-card">
                    <a href="/events/<%= event.slug %>">
                        <% if (event.imageUrl) { %>
                            <img src="<%= event.imageUrl %>" alt="<%= event.name %>" loading="lazy">
                        <% } else { %>
                             <img src="/images/placeholder.png" alt="<%= event.name %>" loading="lazy"> <% } %>
                        <h3><%= event.name %></h3>
                        <p><%= event.eventDate ? `${new Date(event.eventDate).getDate()}.${new Date(event.eventDate).getMonth() + 1}.${new Date(event.eventDate).getFullYear()} ${new Date(event.eventDate).getHours().toString().padStart(2, '0')}:${new Date(event.eventDate).getMinutes().toString().padStart(2, '0')}` : '' %></p>
                    </a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No events found. Check back later!</p>
    <% } %>
</section>

<%- include('partials/footer') %>
